.radial-gradientLogin-bg {
    background: radial-gradient(circle, #8A2BE2, #00FFFF, #FF00FF);
    background-size: 150% 150%;
    animation: pulseGradient 4s ease-in-out infinite;
}

.radial-gradientRegistro-bg {
    background: radial-gradient(circle, white, rgb(189, 122, 233), rgb(243, 131, 131));
    background-size: 150% 150%;
    animation: pulseGradient 4s ease-in-out infinite;
}

.radial-gradientRecuperar-bg {
    background: radial-gradient(circle, #FF5733, #FFC300, #DAF7A6);
    background-size: 150% 150%;
    animation: pulseGradient 4s ease-in-out infinite;
}

.radial-gradientOfertas-bg {
    background: radial-gradient(circle, #7c3aed, #9333ea, #c084fc);
    background-size: 150% 150%;
    animation: pulseGradient 4s ease-in-out infinite;
}

.radial-gradientTrabajos-bg {
    background: radial-gradient(circle, #e0f7fa, #80cbc4, #00796b);
    background-size: 150% 150%;
    animation: pulseGradient 4s ease-in-out infinite;
}

.radial-gradientAceptados-bg {
    background: radial-gradient(circle, #e0f7fa, #80cbc4, #00796b);
    background-size: 150% 150%;
    animation: pulseGradient 4s ease-in-out infinite;
}

.radial-gradientRechazados-bg {
    background: radial-gradient(circle, #f6eefb, #b86cc2, #5b2c80);
    background-size: 150% 150%;
    animation: pulseGradient 4s ease-in-out infinite;
}
.pulsoBotones{
    animation: pulse 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite; 
}

.tooltip-personalizado {
  opacity: 0;
  transform: translateY(-5px);
  animation: fadeInTooltip 0.3s ease forwards;
  
}

.custom-bar::-webkit-scrollbar{
    width: 8px;
}

.custom-bar::-webkit-scrollbar-track{
    background: transparent;
}

.custom-bar::-webkit-scrollbar-thumb{
    background-color: #015248;
    border-radius: 15px;
}

.custom-bar-outlet::-webkit-scrollbar{
    width: 8px;
}

.custom-bar-outlet::-webkit-scrollbar-track{
    background: transparent;
}

.custom-bar-outlet::-webkit-scrollbar-thumb{
    background-color:darkslategray;
    border-radius: 15px;
}

.custom-bar-cat::-webkit-scrollbar{
    height: 8px;
}

.custom-bar-cat::-webkit-scrollbar-track{
    background: transparent;
}

.custom-bar-cat::-webkit-scrollbar-thumb{
    background-color:rgb(14, 85, 55);
    border-radius: 15px;
}

.custom-bar-msgs::-webkit-scrollbar{
    width: 8px;
}

.custom-bar-msgs::-webkit-scrollbar-track{
    background-color:rgb(22, 32, 43);
}

.custom-bar-msgs::-webkit-scrollbar-thumb{
    background-color: rgb(0, 58, 44);
    border-radius: 8px;
}


@keyframes fadeInTooltip {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes pulse {
    50% {
      opacity: 0.7;
    }
  }

@keyframes pulseGradient {

    0%,
    100% {
        background-size: 150% 150%;
    }

    50% {
        background-size: 200% 200%;
    }
}

  